customary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://customaryjs.github.io/schema"
           xmlns="https://customaryjs.github.io/schema"
           elementFormDefault="qualified">

    <xs:element name="if">
        <xs:complexType>
            <xs:all>
                <xs:element name="true" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:sequence><xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/></xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="false" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:sequence><xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/></xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
            <xs:attribute name="condition" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="for">
        <xs:complexType mixed="true">
            <xs:sequence><xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/></xs:sequence>
            <xs:attribute name="items" type="xs:string" use="required"/>
            <xs:attribute name="value" type="xs:string"/>
            <xs:attribute name="index" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="switch">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="case" maxOccurs="unbounded">
                    <xs:complexType mixed="true">
                        <xs:sequence><xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/></xs:sequence>
                        <xs:attribute name="value" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="value" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="classMap">
        <xs:complexType>
            <xs:attribute name="target" type="xs:string" use="required"/>
            <xs:attribute name="classInfo" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="styleMap">
        <xs:complexType>
            <xs:attribute name="target" type="xs:string" use="required"/>
            <xs:attribute name="styleInfo" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="inside">
        <xs:complexType>
            <xs:attribute name="target" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
